@{
    ViewBag.Title = "NotFound";
}

<h1>No se a podido encontrar la informacion de la mascota</h1>
<br/>
<img src="~/Content/ima/images.jpg" />
<h2>Detalles</h2>
<ul>
    <li><b>Codigo de Error:</b>@ViewBag.ErrorCode</li>
    <li><b>Descripcion:</b>@ViewBag.Description</li>
</ul>